<h1 id="search_page_title">Posts</h1>
<div id="search_box">
  <%= form_tag(posts_path, :method => "get", id: "search_form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
  <%= submit_tag "Search" %><br>
  <div id="sort_box">
    <%= label_tag :sort_by, nil, id: 'sort_label'%>
    <%= select_tag :sort_by, options_for_select([['Newest', 'created_at'],['Title','title'], ['Category', 'category_id']], params[:sort_by])  %>
  </div>
  <% end %>
</div>
<br><br>

<div style="clear:both">
<% @posts.each do |p| %>
  <%= link_to p.title, post_path(p) %>
  <hr>
<% end %>
</div>
<div id="paginator"><%= paginate @posts %></div>
